
body{
  background-color:#E8CEBF;
  font-family:serif;
  font-size: 15px;
  color:  #266150;
}
.myDiv {
  text-align: center;
}
.nbutton {
  background-color: #266150;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}
